<!DOCTYPE html>
<html lang="cs">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Turnaj ve šprtci</title>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="./styles.css">
</head>

<body>
  <div id="app">
    <p class="d-none d-print-block lead mb-0">{{ config.name }}, {{ tournamentDate }}</p>

    <!-- Application tabs -->
    <ul class="app-nav nav nav-tabs d-print-none pt-2 pr-2 pl-2">
      <li class="nav-item">
        <a href="#config" id="config-tab" data-toggle="tab" class="nav-link active"
          :class="{'text-danger': !configComplete}">Nastavení turnaje</a>
      </li>
      <li class="nav-item">
        <a href="#players" id="players-tab" data-toggle="tab" class="nav-link"
          :class="{'text-danger': !playersComplete}">Účastníci</a>
      </li>
      <li class="nav-item">
        <a href="#matches" id="matches-tab" data-toggle="tab" class="nav-link">Zápasy</a>
      </li>
      <li class="nav-item">
        <a href="#results" id="results-tab" data-toggle="tab" class="nav-link"
          v-on:click="tournamentResults">Výsledky</a>
      </li>
      <li class="nav-item">
        <a href="#about-app" id="about-app-tab" data-toggle="tab" class="nav-link">O programu</a>
      </li>
    </ul>

    <!-- Application screen -->
    <div class="app-content tab-content" id="p-print-none">
      <!-- Tournament config -->
      <div class="tab-pane active show" id="config">
        <form class="mb-2">
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="config-name">Název turnaje</label>
                <input type="text" v-model="config.name" class="form-control" id="config-name" :class="{'is-invalid': !config.name}">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="config-venue">Místo konání</label>
                <input type="text" v-model="config.venue" class="form-control" id="config-venue" :class="{'is-invalid': !config.venue}">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="config-host">Pořadatel</label>
                <input type="text" list="clubs" v-model="config.host" class="form-control" id="config-host" :class="{'is-invalid': !config.host}">
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-2">
              <div class="form-group">
                <label for="config-date">Datum konání</label>
                <input type="date"
                  placeholder="rrrr-mm-dd"
                  v-model="config.date"
                  class="form-control"
                  id="config-date"
                  :class="{'is-invalid': !tournamentDateValid}">
              </div>
            </div>
            <div class="col-2">
              <div class="form-group">
                <label for="config-season">Sezona</label>
                <input type="number"
                  v-model.number="config.season"
                  :min="new Date().getFullYear()"
                  class="form-control"
                  id="config-season"
                  :class="{'is-invalid': !config.season}">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="config-category">Kategorie</label>
                <select v-model="config.category" class="form-control" id="config-category">
                  <option :value="-1">Nezařazeno do ČP</option>
                  <option v-for="(category, categoryIndex) in config.categories" :value="categoryIndex">{{ category.title }}</option>
                </select>
              </div>
            </div>
            <div class="col-2">
              <div class="form-group">
                <label for="config-numberOfRounds">Počet kol</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button class="btn btn-light" type="button"
                      v-on:click="removeRound"
                      :disabled="config.numberOfRounds === 1 || config.numberOfRounds <= rounds.length">&minus;</button>
                  </div>
                  <input type="number" class="form-control" id="config-numberOfRounds" readonly
                    :min="rounds.length"
                    v-model.number="config.numberOfRounds"
                    :class="{'is-invalid': !config.numberOfRounds || config.numberOfRounds < rounds.length}">
                  <div class="input-group-append">
                    <button class="btn btn-light" type="button"
                      v-on:click="addRound">&plus;</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>Zařazení do soutěží</label><br>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input v-model="config.contests" class="form-check-input" type="checkbox" value="Český pohár"> Český pohár
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input v-model="config.contests" class="form-check-input" type="checkbox" value="Žákovská tour"> Žákovská tour
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="config-point-win">Bodů za výhru</label>
                <input type="number" min="0" step="0.5" class="form-control" id="config-point-win"
                  v-model.number="config.pointsWin"
                  :class="{'is-invalid': config.pointsWin === ''}"
                  :readonly="rounds.length > 0"
                  :title="rounds.length > 0 ? 'Nelze měnit u již rozehraného turnaje' : ''">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="config-point-draw">Bodů za remízu</label>
                <input type="number" min="0" step="0.5" class="form-control" id="config-point-draw"
                  v-model.number="config.pointsDraw"
                  :class="{'is-invalid': config.pointsDraw === ''}"
                  :readonly="rounds.length > 0"
                  :title="rounds.length > 0 ? 'Nelze měnit u již rozehraného turnaje' : ''">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="config-goalsForSortMax">Strop vstřelených branek</label>
                <input type="number" min="0" class="form-control" id="config-goalsForSortMax"
                  v-model.number="config.goalsForSortMax"
                  :readonly="rounds.length > 0"
                  :title="rounds.length > 0 ? 'Nelze měnit u již rozehraného turnaje' : ''">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="config-byeGoalsFor">Vstřelených branek za volno</label>
                <input type="number" min="0" class="form-control" id="config-byeGoalsFor"
                  v-model.number="config.byeGoalsFor"
                  :readonly="rounds.length > 0"
                  :title="rounds.length > 0 ? 'Nelze měnit u již rozehraného turnaje' : ''">
              </div>
            </div>
          </div>

          <label>Kluby</label>
          <div class="form-row">
            <div class="col-4 form-group mb-2" v-for="(club, clubIndex) in config.clubs">
              <input type="text" v-model="config.clubs[clubIndex]" class="form-control">
            </div>
            <div class="col-4 form-group mb-2">
              <input v-on:blur="addClub" type="text" class="form-control" placeholder="Další klub">
            </div>
          </div>
        </form>

        <p class="text-right tab-footer p-2 mb-0">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exportTournamentModal">Exportovat turnaj</button>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#importTournamentModal">Importovat turnaj</button>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#resetTournamentModal">Resetovat turnaj</button>
        </p>
      </div>

      <!-- Players config tab -->
      <div class="tab-pane" id="players">
        <form class="d-flex d-print-none flex-column-reverse players-list">
          <div v-for="(player, playerIndex) in players"
            class="players-list-item"
            :class="{'d-none': !playerInSearch(playerIndex)}">
            <div class="form-row mb-2">
              <div class="col-auto" v-if="rounds.length === 0">
                <button type="button" title="Odebrat účastníka"
                  v-on:click="removePlayer(playerIndex)"
                  class="btn btn-danger">
                  <strong>&times;</strong>
                </button>
              </div>
              <div class="col-auto">
                <button type="button" title="Účast hráče v kolech"
                style="width: 50px;"
                  class="btn"
                  :class="{
                    'btn-primary': player.rounds.length === config.numberOfRounds,
                    'btn-secondary': player.rounds.length !== config.numberOfRounds,
                    'active': state.activePlayer === playerIndex
                  }"
                  v-on:click="playerSetActive(playerIndex)">
                  {{ player.rounds.length }}/{{ config.numberOfRounds}}
                </button>
              </div>
              <div class="col">
                <input type="text" placeholder="PŘÍJMENÍ"
                  v-model="player.surname"
                  class="form-control"
                  :class="{'is-invalid': !player.surname.length}">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Jméno"
                  v-model="player.name"
                  :class="{'is-invalid': !player.name.length}">
              </div>
              <div class="col">
                <select class="form-control"
                  v-model="player.club"
                  :class="{'is-invalid': player.club === -1}">
                  <option :value="-1">Klub</option>
                  <option
                    v-for="club in clubsSorted"
                    :value="club.clubIndex">{{ club.name }}</option>
                </select>
              </div>
              <div class="col-auto">
                <select v-model="player.sex"
                  style="width: 90px"
                  class="form-control">
                  <option value="male">muž</option>
                  <option value="female">žena</option>
                </select>
              </div>
              <div class="col-auto">
                <input style="width: 90px"
                  min="1900"
                  type="number"
                  class="form-control"
                  v-model.number="player.yearOfBirth"
                  placeholder="Ročník"
                  :class="{
                    'is-invalid': player.yearOfBirth > (new Date()).getFullYear()
                  }">
              </div>
              <div class="col-auto"
                :title="playerCategories[playerIndex].name">
                <input type="text"
                  style="width: 20px;"
                  tabindex="-1"
                  :value="playerCategories[playerIndex].shortcut"
                  class="form-control-plaintext text-center">
              </div>
              <div class="col-auto form-check text-center pt-2">
                <label class="form-check-label"
                  title="Účastník uhradil startovné">
                  <input type="checkbox"
                    class="form-check-input position-static"
                      v-model="player.feePaid">
                </label>
              </div>
            </div>
            <div :class="{'d-none': playerIndex !== state.activePlayer}">
              <div class="form-check form-check-inline">
                <label class="form-check-label pl-0">
                  {{ playerNames[playerIndex] }} se účastní kol:
                </label>
              </div>
              <div class="form-check form-check-inline"
                :class="{disabled: rounds[roundIndex]}"
                v-for="(round, roundIndex) in config.numberOfRounds">
                <label class="form-check-label">
                  <input type="checkbox"
                    class="form-check-input"
                    :value="roundIndex"
                    v-model="player.rounds"
                    :disabled="rounds[roundIndex]"> {{ round }}.
                </label>
              </div>
            </div>
          </div>
        </form>

        <div class="tab-footer p-2 mb-0 d-flex d-print-none justify-content-between">
          <div>
            <span class="btn text-nowrap">
              Účastníků: <strong>{{ players.length }}</strong>
              <span v-if="config.category != -1">
                (kol turnaje ČP: {{ roundsPerPlayers }}
                <span v-if="roundsPerPlayers !== config.numberOfRounds"> &ndash; <span class="text-danger">nastaveno: {{ config.numberOfRounds }}</span></span>)
              </span>
            </span>
          </div>
          <form class="form-inline">
            <input type="text" class="form-control mr-2" style="width: 175px"v-model="state.playersSearch" placeholder="Hledat účastníka">
            <button v-if="state.debug" type="button" v-on:click="addRandomPlayer" class="btn btn-warning mr-2">Vygenerovat účastníka</button>
            <button type="button" v-on:click="addPlayer" class="btn btn-success mr-2">Přidat účastníka</button>
            <button type="button" v-on:click="print" class="btn btn-primary">Tisk</button>
          </form>
        </div>

        <!-- Print -->
        <div class="d-none d-print-block">
          <p>Listina účastníků, celkem hráčů: {{ players.length }}</p>
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Hráč</th>
                <th>Klub</th>
                <th>Kategorie</th>
                <th>Startovné</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="player in playersSorted">
                <td>{{ playerNames[player.playerIndex] }}</td>
                <td>{{ config.clubs[players[player.playerIndex].club] }}</td>
                <td>{{ playerCategories[player.playerIndex].name }}</td>
                <td><span v-if="players[player.playerIndex].feePaid">Zaplaceno</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Matches tab -->
      <div class="tab-pane" id="matches">
        <p class="d-none d-print-block lead">Zápasy {{ state.activeRound+1 }}. kola</p>

        <p class="alert alert-warning"
          v-if="!isTournamentReady">
          Kolo nelze zahájit, není kompletní nastavení turnaje nebo listina účastníků.
        </p>
        <p class="alert alert-warning"
          v-if="!isRoundReady(state.activeRound)">
          Nelze generovat zápasy, není kompletní předchozí kolo.
        </p>

        <div class="d-print-none" v-if="rounds[state.activeRound]">
          <!-- Zadani vysledku zapasu -->
          <div class="d-flex mb-2"
            v-for="(match, matchIndex) in rounds[state.activeRound].matches"
            :key="match.matchPosition">
            <input type="text" readonly tabindex="-1" class="form-control-plaintext" style="width: 30px"
              :value="matchIndex + 1 + '.'">
            <input type="text" readonly tabindex="-1" class="form-control-plaintext" style="flex: 1"
              :value="playerNames[match.home]">
            <input type="text" readonly tabindex="-1" class="form-control-plaintext text-center" style="width: 30px" value="&times;">
            <input type="text" readonly tabindex="-1" class="form-control-plaintext" style="flex: 1"
              :value="playerNames[match.away]">
            <div class="input-group mr-2" style="width: 150px">
              <input v-model.number="match.home_score" type="number" class="form-control text-right" :class="{'is-invalid': match.home_score === ''}" min="0">
              <span class="input-group-addon">:</span>
              <input v-model.number="match.away_score" type="number" class="form-control" :class="{'is-invalid': match.away_score === ''}" min="0">
            </div>
            <select v-model="match.referee" class="form-control w-25" :class="{'is-invalid': match.referee === -1}">
              <option :value="-1">Rozhodčí</option>
              <option v-for="player in playersSorted"
                :value="player.playerIndex" :key="player.playerIndex">{{ player.name }}</option>
            </select>
          </div>

          <!-- Zapisovatele rozhodcich -->
          <div class="d-flex mb-2"
            v-for="(refereeCheck, refereeCheckIndex) in rounds[state.activeRound].refereeCheck"
            :key="refereeCheckIndex">
            <input type="text" readonly tabindex="-1"
              class="form-control-plaintext text-right mr-2" style="flex: 1"
              value="Zapisovatel rozhodčích:">
            <select v-model="rounds[state.activeRound].refereeCheck[refereeCheckIndex]"
              :class="{'is-invalid': rounds[state.activeRound].refereeCheck[refereeCheckIndex] === -1}"
              class="form-control w-25" :class="{'is-invalid': match.referee === -1}">
              <option :value="-1">Zapisovatel rozhodčích</option>
              <option v-for="player in playersSorted"
                :value="player.playerIndex" :key="player.playerIndex">{{ player.name }}</option>
            </select>
          </div>

          <div class="d-flex mb-2" v-if="rounds[state.activeRound].bye !== -1">
            <input type="text" readonly tabindex="-1" class="form-control-plaintext text-right mr-2" style="flex: 1" value="Volné kolo:">
            <input type="text" readonly tabindex="-1" class="form-control-plaintext w-25 pl-3 font-weight-bold" :value="playerNames[rounds[state.activeRound].bye]">
          </div>
        </div>

        <!-- Print -->
        <div class="d-none d-print-block" v-if="rounds[state.activeRound]">
          <table class="table table-sm">
            <thead>
              <tr>
                <th class="text-right pr-2">#</th>
                <th colspan="3">Soupeři</th>
                <th>Rozhodčí</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(match, matchIndex) in rounds[state.activeRound].matches"
                :key="match.matchPosition">
                <td style="width: 5%;" class="text-right pr-2">{{ matchIndex+1 }}.</td>
                <td style="width: 20%;">{{ playerNames[match.home] }}</td>
                <td style="width: 15%;" class="text-center">{{match.home_score}}:{{match.away_score}}</td>
                <td style="width: 20%;">{{ playerNames[match.away] }}</td>
                <td style="width: 40%;">{{playerNames[match.referee]}}</td>
              </tr>
            </tbody>
          </table>
          <p v-if="rounds[state.activeRound].bye !== -1">Volné kolo: <strong>{{ playerNames[rounds[state.activeRound].bye] }}</strong></p>
          <p>Rozhodčí první části kola zapsal:</p>
          <p>Rozhodčí druhé části kola zapsal:</p>
        </div>

        <!-- Tab footer -->
        <div class="tab-footer p-2 mb-0 row d-print-none">
          <div class="col">
            <div class="nav nav-pills">
              <span class="nav-link">Kolo:</span>
              <a v-for="(round, roundIndex) in config.numberOfRounds"
                :key="roundIndex"
                class="nav-link"
                :class="{active: state.activeRound === round - 1}"
                href="#"
                v-on:click="state.activeRound = round - 1"
              >{{round}}.</a>
            </div>
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-success"
              v-on:mousedown="state.generatingRound = true"
              v-on:mouseup="generateRound(state.activeRound)"
              :class="{'d-none': isRoundGenerated(state.activeRound) || !isRoundReady(state.activeRound)}">
                <span v-if="!state.generatingRound">Napárovat soupeře</span>
                <span v-if="state.generatingRound">Páruji, sečkej&hellip;</span>
            </button>
            <button type="button" class="btn btn-danger"
              data-toggle="modal" data-target="#dropPairingModal"
              v-if="roundsStatus[state.activeRound] === 'empty'">Zrušit párování</button>
            <button type="button" class="btn btn-warning"
              v-if="state.debug && roundsStatus[state.activeRound] !== 'none' && state.activeRound !== -1"
              v-on:click="randomRoundResults(state.activeRound)">Náhodné výsledky</button>
            <button type="button" v-on:click="print" class="btn btn-primary">Tisk</button>
          </div>
        </div>
      </div>

      <!-- Results tab -->
      <div class="tab-pane" id="results">
        <p v-if="roundsComplete !== config.numberOfRounds" class="d-none d-print-block">
          Průběžné výsledky, odehráno kol: {{ roundsComplete }}/{{ config.numberOfRounds }}
        </p>
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th><abbr title="Umístění">#</abbr></th>
              <th>Hráč</th>
              <th>Klub</th>
              <th class="text-center"><abbr title="Kategorie">K</abbr></th>
              <th class="text-center"><abbr title="Počet zápasů">Z</abbr></th>
              <th class="text-center"><abbr title="Výhry">V</abbr></th>
              <th class="text-center"><abbr title="Remízy">R</abbr></th>
              <th class="text-center"><abbr title="Prohry">P</abbr></th>
              <th class="text-center"><abbr title="Body">B</abbr></th>
              <th class="text-center"><abbr title="Body soupeřů">BS</abbr></th>
              <th class="text-center"><abbr title="Vstřelené branky jako rozhodující kritérium">VB</abbr></th>
              <th class="text-center"><abbr title="Body soupeřů soupeřů">BSS</abbr></th>
              <th class="text-center" colspan="3">Skóre</th>
              <th v-if="config.category !== -1" class="text-center"><abbr title="Body Českého poháru">ČP</abbr></th>
              <th class="text-center"><abbr title="Rozhodčí">R</abbr></th>
              <th v-if="rounds.length > 0" class="text-center">Zápasy {{ rounds.legnth }}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(result, resultIndex) in results">
              <td>
                {{ resultIndex + 1 }}.
                <abbr v-if="result.sharedPosition && !result.mutualMatchSwap" class="text-muted" title="Výsledková shoda s&nbsp;předchozím hráčem v&nbsp;pořadí">?</abbr>
              </td>
              <td>{{ playerNames[result.playerIndex] }}</td>
              <td>
                <span class="d-print-none" v-if="players[result.playerIndex].club !== -1">{{ config.clubs[players[result.playerIndex].club] }}</span>
                <span class="d-none d-print-inline" v-if="players[result.playerIndex].club !== -1">{{ config.clubs[players[result.playerIndex].club].substring(0, 10) }}&hellip;</span>
              </td>
              <td class="text-center" :title="playerCategories[result.playerIndex].name">
                {{ playerCategories[result.playerIndex].shortcut }}<span v-if="result.categoryWinner">!</span>
              </td>
              <td class="text-center">{{ result.matches }}</td>
              <td class="text-center">{{ result.wins }}</td>
              <td class="text-center">{{ result.ties }}</td>
              <td class="text-center">{{ result.losses }}</td>
              <td class="text-center"><strong>{{ result.points }}</strong></td>
              <td class="text-center">{{ result.opponentsPoints }}</td>
              <td class="text-center">{{ result.goalsForSort }}</td>
              <td class="text-center">{{ result.opponentsOpponentsPoints }}</td>
              <td class="text-right">
                <abbr :title="`Z toho jako rozhodující kritérium: ${result.goalsForSort}`">{{ result.goalsFor }}</abbr>
              </td>
              <td class="text-center">:</td>
              <td>{{ result.goalsAgainst }}</td>
              <td v-if="config.category !== -1" class="text-center">{{ result.cpPoints }}</td>
              <td class="text-center">{{ result.referee }}<span v-if="result.refereeWarning">!</span></td>
              <td class="pl-2" v-if="result.results">
                <span v-for="match in result.results" class="pr-1">
                  <span v-if="!match">&mdash;</span>
                  <span v-if="match && match.opponent === -1">volno</span>
                  <abbr v-if="match && match.opponent !== -1" :title="playerNames[match.opponent]">
                    {{ playerPlacementByIndex(match.opponent) }}{{ match.result }}&nbsp;<span v-if="typeof(match.goalsFor) !== 'undefined'" class="text-muted d-print-none">({{ match.goalsFor }}:{{ match.goalsAgainst }})</span>
                  </abbr>
                </span>
              </td>
            </tr>
          </tbody>
        </table>

        <p class="tab-footer p-2 mb-0 text-right d-print-none">
          <button v-if="isTournamentComplete" type="button" v-on:click="resultsExportExcel" class="btn btn-success">Export Excel</button>
          <button type="button" v-on:click="print" class="btn btn-primary">Tisk</button>
        </p>
      </div>

      <!-- About app tab -->
      <div class="tab-pane" id="about-app">
        <div class="container">
          <div class="row">
            <div class="col-3">
              <ul class="about-app-nav nav flex-column flex-nowrap position-fixed">
                <li class="nav-item">
                  <strong class="nav-link">Navigace</strong>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#uvod">Úvod</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#vlastnosti">Vlastnosti</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#fungovani">Fungování</a>
                </li>
                <li class="nav-item ml-2">
                  <a class="nav-link" href="#poradi">Pořadí účastníků</a>
                </li>
                <li class="nav-item ml-2">
                  <a class="nav-link" href="#parovani">Párování soupeřů</a>
                </li>
                <li class="nav-item ml-2">
                  <a class="nav-link" href="#stav">Ukládání stavu turnaje</a>
                </li>
                <li class="nav-item ml-2">
                  <a class="nav-link" href="#nastaveni">Nastavení turnaje</a>
                </li>
                <li class="nav-item ml-2">
                  <a class="nav-link" href="#ucastnici">Účastníci</a>
                </li>
                <li class="nav-item ml-2">
                  <a class="nav-link" href="#vysledky">Výsledky</a>
                </li>
                <li class="nav-item ml-2">
                  <a class="nav-link" href="#kompenzace">Kompenzace bodů soupeřů</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#navrhy">Návrhy pro&nbsp;zlepšení</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#neplanovane">Neplánované funkce</a>
                </li>
              </ul>
            </div>

            <div class="col">
              <h1 id="uvod">Turnaj ve&nbsp;šprtci</h1>
              <p class="lead">Program pro&nbsp;řízení šprtcových turnajů</p>

              <h2 id="vlastnosti">Vlastnosti</h2>
              <ul>
                <li><strong>generování vzájemných zápasů</strong> bere v&nbsp;potaz průběžné výsledky a&nbsp;volná kola při&nbsp;lichém počtu hráčů</li>
                <li><strong>určení kategorií účastníků</strong>&nbsp;dle jejich pohlaví a&nbsp;data narození (bez vyplnění těchto údajů automaticky kategorie "muži")</li>
                <li><strong>počítání odpískaných zápasů</strong> účastníkem (časem kontrola oproti minimu aktivit)</li>
                <li>export a&nbsp;import stavu turnaje (např. pro&nbsp;přípravu startovací listiny předem a&nbsp;následné řízení turnaje z&nbsp;jiného počítače)</li>
                <li><strong>určení vítězů kategorií</strong> ve&nbsp;výsledkové listině (ozanačeno tučným textem)</li>
                <li><strong>konkrétní výsledky zápasů hráče</strong> (včetně skóre)</li>
                <li>možnost do&nbsp;turnaje <strong>kdykoliv zapojit nového hráče</strong>, nebo ho naopak nechat z&nbsp;turnaje odstoupit (tlačítkem vlevo od&nbsp;příjmení hráče)</li>
                <li><strong>tiskové formátování</strong> listiny účastníků, zápasů kola a&nbsp;výsledků</li>
                <li>možnost <strong>nastavení bodového zisku</strong> za&nbsp;výhru a&nbsp;remízu</li>
                <li>okamžité <strong>určení bodového zisku Českého poháru</strong></li>
              </ul>

              <h2 id="fungovani">Fungování</h2>

              <h3 id="poradi">Pořadí účastníků</h3>
              <p>Rozhodující kritéria pořadí účastníků jsou následující:</p>
              <ol>
                <li>body</li>
                <li>body soupeřů</li>
                <li>vstřelené branky (max. 5 na&nbsp;zápas)</li>
                <li>body soupeřů soupeřů</li>
              </ol>
              <p>Pokud je&nbsp;mezi hráči shoda ve&nbsp;všech výše zmíněných kritériích, jedná se&nbsp;o&nbsp;výsledkovou shodu (ve výsledcích zvýrazněno šedým otazníkem).</p>

              <h3 id="parovani">Párování soupeřů</h3>
              <p>Program páruje hráče, kteří jsou si nejblíže v průběžném pořadí turnaje a zároveň spolu ještě nesehráli vzájemný zápas.</p>
              <p>Pokud je&nbsp;hráčů v&nbsp;kole lichý počet, je&nbsp;náhodně vybrán jeden hráč ze&nbsp;spodní poloviny průběžného pořadí, a&nbsp;tomu je&nbsp;přiřazeno volné kolo. Volné kolo může během turnaje dostat pouze jeden hráč. Záměrně se&nbsp;volné kolo neuděluje nejhoršímu hráči v&nbsp;průběžném pořadí, protože v&nbsp;případě pozdního zapojení hráče do&nbsp;turnaje by&nbsp;bylo více než pravděpodobné, že&nbsp;právě takový hráč dostane hned ve&nbsp;svém prvním kole volno.</p>

              <h3 id="stav">Ukládání stavu turnaje</h3>
              <p>Po&nbsp;spuštění programu je&nbsp;stav turnaje takový, jaký byl&nbsp;před&nbsp;jeho ukončením. Stav turnaje není třeba ukládat, ukládání se&nbsp;děje automaticky. Pro&nbsp;zahájení nového turnaje je&nbsp;potřeba stav programu resetovat. Lze využít exportu a&nbsp;importu stavu turnaje &ndsash; např. pro&nbsp;přípravu startovní listiny den před&nbsp;turnajem a&nbsp;následné zaslání stavu turnaje s&nbsp;vyplněnými účastníky do&nbsp;programu v&nbsp;jiném počítači, na&nbsp;kterém se&nbsp;turnaj odřídí.</p>

              <h3 id="nastaveni">Nastavení turnaje</h3>
              <p>Důležité nastavení turnaje:</p>
              <ul>
                <li><strong>datum konání</strong>: v&nbsp;kombinaci s&nbsp;vyplněním pohlaví a&nbsp;roku narození účastníka se&nbsp;určuje jeho hráčská kategorie</li>
                <li><strong>kategorie turnaje</strong>: určuje bodoví zisk Českého poháru a&nbsp;nutný počet kol turnaje&nbsp;dle počtu účastníků</li>
                <li><strong>počet kol, body za&nbsp;výhru a&nbsp;remízu</strong>: nastavte pečlivě před&nbsp;zahájením turnaje, po&nbsp;zahájení turnaje již nelze měnit</li>
              </ul>
              <p>Další klub lze přidat tak, že&nbsp;do&nbsp;pole "Další klub" vyplníte jeho název a&nbsp;následně pouze kliknete myší mimo toto pole.</p>

              <h3 id="ucastnici">Účastníci</h3>
              <p>U účastníků je&nbsp;nezbytné vyplnit jejich jméno a&nbsp;příjmení, volitelně další pole. Bez vyplnění jména a&nbsp;příjmení všech účasntíků nelze turnaj zahájit a&nbsp;tito jsou zvýrazněni červeným obrysem polí pro&nbsp;vyplnění jména.</p>
              <p>Účast hráče v&nbsp;kolech se&nbsp;řídí po&nbsp;kliknutí na&nbsp;tlačítko vlevo od&nbsp;jeho příjmení. Využijte např. pro&nbsp;vyřazení účastníka z&nbsp;následujících kol v&nbsp;případě, že&nbsp;turnaj předčasně opouští.</p>
              <p>Na&nbsp;základě datumu konání turnaje, pohlaví účastníka a&nbsp;roku narození se&nbsp;určuje hráčská kategorie účasníka. Pokud není vyplněno, program účastníka automaticky považuje za&nbsp;muže (vychází z&nbsp;předpokladu, že&nbsp;se&nbsp;turnajů účastní nejvíce mužů).</p>

              <h3 id="vysledky">Výsledky</h3>
              <p>Do&nbsp;průběžných výsledků se&nbsp;započítává poslední kolo vždy až po&nbsp;jeho kompletním vyplnění na&nbsp;záložce "Zápasy". Nezbytné je&nbsp;vyplnění výsledku zápasu, rozhodčí volitelně. Nevyplněné zápasy jsou zvýrazněny červeným obrysem pro&nbsp;vyplnění výsledku.</p>
              <p>Ve&nbsp;výsledkové listině jsou šedým otazníkem označeny nejasné umístění (výsledková shoda ve&nbsp;všech kritériích).</p>
              <p>Šedým vykřičníkem jsou označeni vítězové jednotlivých hráčských kategorií, pokud má program dostatek údajů k&nbsp;jejich určení (datum konání turnaje, pohlaví a&nbsp;datum narození účastníků).</p>

              <h3 id="kompenzace">Kompenzace bodů soupeřů</h3>
              <p>Ve&nbsp;švýcarském systému může být znehodnocen hráč, mezi jehož soupeři je&nbsp;takový hráč, který&nbsp;v&nbsp;turnaji nesehrál všechna kola. Pro&nbsp;takové případy program do&nbsp;bodů soupeřů přičítá počet bodů přidělovaných za&nbsp;remízu za&nbsp;každé kolo, kterého se&nbsp;soupeř neúčastnil.</p>

              <h2 id="navrhy">Návrhy pro&nbsp;zlepšení</h2>
              <ul>
                <li>nastavení <em>turnaj bez rozhodčích</em> - skryje z programu všechny ovládání a informace o rozhodčích</li>
                <li>filtrování zápasů&nbsp;dle účastníka</li>
                <li>export výsledků turnaje do&nbsp;souboru CSV (možné následně nahrát např. do&nbsp;Excel a&nbsp;archivovat)</li>
                <li><strong>účastníci bez splněných aktivit</strong> zvýraznění ve&nbsp;výsledcích</li>
                <li>kontrolní součty vybraného a&nbsp;celkového startovného turnaje</li>
              </ul>

              <h2 id="neplanovane">Neplánované funkce</h2>
              <ul>
                <li><strong>zabezpečení programu</strong>: pokud chcete zamezit, aby&nbsp;k&nbsp;programu kdokoliv přišel a&nbsp;libovolně do něj zasahoval, zamkněte počítač, na&nbsp;kterém běží</li>
                <li><strong>kontrola duplicity účastníků</strong>: program nekontroluje, zda není v&nbsp;účastnících hráč se&nbsp;stejným jménem vícekrát, toto má pořadatel odhalit při&nbsp;prezenci hráčů, která&nbsp;je&nbsp;seřazena&nbsp;dle abecedy</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="tab-footer d-flex justify-content-between p-2 mb-0 d-print-none">
          <span class="btn">
            Autor:
            <strong>Dominik Fiala</strong>,
            <a href="mailto:domo.fiala@gmail.com">domo.fiala@gmail.com</a>,
            <a href="tel:+420721090491">+420 721 090 491</a>
          </span>
          <span>
            <button type="button" class="btn btn-warning"
              :class="{active: state.debug}"
              v-on:click="state.debug = !state.debug">Ladící režim</button>
            <button type="button" v-on:click="print" class="btn btn-primary">Tisk</button>
          </span>
        </div>
      </div>

      <!-- Reset tournament modal -->
      <div class="modal fade"
        id="resetTournamentModal"
        tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Opravdu resetovat?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Opravdu resetovat turnaj? Odstraní všechny účastníky, zápasy a výsledky.</p>
              <p>Používejte převážně před zahájením nového turnaje.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Zrušit</button>
              <button type="button" class="btn btn-danger" v-on:click="resetTournament">Resetovat turnaj</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Export tournament modal -->
      <div class="modal fade"
        id="exportTournamentModal"
        tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Export turnaje</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Pro přenesení stavu turnaje do jiného počítače si jej uložte do souboru a ten na jiném počítači importujte.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
              <button type="button" class="btn btn-success" v-on:click="saveTournament">Uložit do souboru</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Import tournament modal -->
      <div class="modal fade"
        id="importTournamentModal"
        tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Import turnaje</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p><strong>Upozornění</strong>: Import přepíše současný stav turnaje.</p>
            </div>
            <div class="modal-footer">
              <input type="file" class="d-none" accept="application/json" id="fileChooser" v-on:change="tournamentFileLoaded">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
              <button type="button" class="btn btn-primary" v-on:click="loadTournamentFromFile">Nahrát ze souboru</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Drop pairing modal -->
      <div class="modal fade"
        id="dropPairingModal"
        tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Zrušit párování</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p><strong>Upozornění:</strong> Zrušit párování můžete pouze pokud se ještě žádný ze zápasů nerozehrál.</p>
              <p>Používejte převážně v případech, kdy chcete doplnit hráče do již napárovaného kola.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
              <button type="button" class="btn btn-primary"
                v-on:click="dropRoundPairing(state.activeRound)">Zrušit párování</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Clubs datalist -->
      <datalist id="clubs">
        <option v-for="club in config.clubs">{{ club }}</option>
      </datalist>
    </div>
  </div>

  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

  <script src="../node_modules/jquery/dist/jquery.slim.js"></script>
  <script src="../node_modules/popper.js/dist/umd/popper.js"></script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="../node_modules/vue/dist/vue.js"></script>
  <script src="../node_modules/file-saver/FileSaver.js"></script>
  <script src="./app.js"></script>

  <script>if (window.module) module = window.module;</script>
</body>

</html>
