<!DOCTYPE html>
<html lang="cs">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Turnaj ve šprtci</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#d7141a">
  <meta name="apple-mobile-web-app-title" content="Turnaj ve &scaron;prtci">
  <meta name="application-name" content="Turnaj ve &scaron;prtci">
  <meta name="theme-color" content="#d7141a">
  <!-- build:css -->
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
  <!-- endbuild -->
  <style>
  input[type="date"] {
    height: 2.4rem;
  }
  @media print {
    body {
      font-size: 10px;
    }
    abbr[title] {
      text-decoration: none;
    }
    abbr[title]::after {
      content: "";
    }
    #m-print-none {
      margin: 0 !important;
    }
  }
  </style>
</head>

<body>
  <div id="app" class="m-2">
    <h3 class="d-none d-print-block">{{ config.name }}, {{ tournamentDate }}</h3>

    <!-- Application tabs -->
    <ul class="nav nav-tabs d-print-none">
      <li class="nav-item">
        <a href="#config" :class="{active: state.activeTab == 'config', 'text-danger': !configComplete}" v-on:click="state.activeTab = 'config'" id="config-tab" data-toggle="tab" class="nav-link">Nastavení turnaje</a>
      </li>
      <li class="nav-item">
        <a href="#players" :class="{active: state.activeTab == 'players', 'text-danger': !playersComplete}" v-on:click="state.activeTab = 'players'" id="players-tab" data-toggle="tab" class="nav-link">Účastníci</a>
      </li>
      <li class="nav-item">
        <a href="#matches" :class="{active: state.activeTab == 'matches'}" v-on:click="state.activeTab = 'matches'" id="matches-tab" data-toggle="tab" class="nav-link">Zápasy</a>
      </li>
      <li class="nav-item">
        <a href="#results" :class="{active: state.activeTab == 'results'}" v-on:click="state.activeTab = 'results'" id="results-tab" data-toggle="tab" class="nav-link">Výsledky</a>
      </li>
      <li class="nav-item">
        <a href="#about-app" :class="{active: state.activeTab == 'about-app'}" v-on:click="state.activeTab = 'about-app'" id="about-app-tab" data-toggle="tab" class="nav-link">O aplikaci</a>
      </li>
    </ul>

    <!-- Application screen -->
    <div class="tab-content m-2" id="m-print-none">
      <!-- Tournament config -->
      <div class="tab-pane"
        :class="{
          active: state.activeTab == 'config',
          show: state.activeTab == 'config'
        }"
        id="config">
        <form>
          <div class="form-row">
            <div class="col-6">
              <div class="form-group">
                <label for="config-name">Název turnaje</label>
                <input type="text" v-model="config.name" class="form-control" id="config-name" :class="{'is-invalid': !config.name}">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label for="config-date">Datum konání</label>
                <input type="date" v-model="config.date" class="form-control" id="config-date" :class="{'is-invalid': !config.date}">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label for="config-category">Kategorie</label>
                <select v-model="config.category" class="form-control" id="config-category" :class="{'is-invalid': !config.category}">
                  <option v-for="category in config.categories">{{ category }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-6">
              <div class="form-group">
                <label for="config-venue">Místo konání</label>
                <input type="text" v-model="config.venue" class="form-control" id="config-venue" :class="{'is-invalid': !config.venue}">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label for="config-host">Pořadatel</label>
                <input type="text" list="clubs" v-model="config.host" class="form-control" id="config-host" :class="{'is-invalid': !config.host}">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label for="config-date">Počet kol</label>
                <input type="number" min="3" class="form-control" id="config-date"
                  v-model.number="config.numberOfRounds"
                  :class="{'is-invalid': !config.numberOfRounds}"
                  :disabled="rounds.length > 0"
                  :title="rounds.length > 0 ? 'Nelze měnit počet kol rozehraného turnaje' : ''">
              </div>
            </div>
          </div>

          <label>Kluby</label>
          <div class="form-row">
            <div class="col-4 form-group" v-for="(club, clubIndex) in config.clubs">
              <input type="text" v-model="config.clubs[clubIndex]" class="form-control">
            </div>
            <div class="col-4 form-group">
              <input v-on:blur="addClub" type="text" class="form-control" placeholder="Další klub">
            </div>
          </div>
        </form>
        <p class="text-right">
          <button class="btn btn-primary" data-toggle="modal" data-target="#exportTournamentModal">Exportovat turnaj</button>
          <button class="btn btn-success" data-toggle="modal" data-target="#importTournamentModal">Importovat turnaj</button>
          <button class="btn btn-danger" data-toggle="modal" data-target="#resetTournamentModal">Resetovat turnaj</button>
        </p>
      </div>

      <!-- Players config tab -->
      <div class="tab-pane"
        :class="{
          active: state.activeTab == 'players',
          show: state.activeTab == 'players'
        }"
        id="players">
        <div class="mb-2 d-flex d-print-none justify-content-between">
          <div>
            <span class="btn pl-0">Účastníků: <strong>{{ players.length }}</strong> (kol turnaje ČP: {{ roundsPerPlayers }}<span v-if="roundsPerPlayers !== config.numberOfRounds" class="text-danger">, nastaveno: {{ config.numberOfRounds }}</span>)</span>
          </div>
          <form class="form-inline">
            <input type="text" class="form-control mr-2" style="width: 175px" v-model="state.playersSearch" placeholder="Hledat účastníka">
            <button v-on:click="addPlayer" class="btn btn-success">Přidat účastníka</button>
          </form>
        </div>

        <form class="d-flex d-print-none flex-column-reverse players-list">
          <div v-for="(player, playerIndex) in players"
            class="players-list-item"
            :class="{'d-none': !playerInSearch(playerIndex)}"
            >
            <div class="form-row mb-1">
              <div class="col-auto pt-1" v-if="rounds.length === 0">
                <button type="button" title="Odebrat účastníka"
                  v-on:click="removePlayer(playerIndex)"
                  class="btn btn-sm btn-danger">
                  <strong>&times;</strong>
                </button>
              </div>
              <div class="col-auto pt-1">
                <button type="button" title="Účast hráče v kolech"
                   class="btn btn-sm"
                  :class="{
                    'btn-primary': player.rounds.length === config.numberOfRounds,
                    'btn-secondary': player.rounds.length !== config.numberOfRounds,
                    'active': state.activePlayer === playerIndex
                  }"
                  v-on:click="playerSetActive(playerIndex)">
                  {{ player.rounds.length }}/{{ config.numberOfRounds}}
                </button>
              </div>
              <div class="col">
                <input type="text" placeholder="PŘÍJMENÍ"
                  v-model="player.surname"
                  class="form-control"
                  :class="{'is-invalid': !player.surname.length}">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Jméno"
                  v-model="player.name"
                  :class="{'is-invalid': !player.name.length}">
              </div>
              <div class="col">
                <select class="form-control"
                  v-model="player.club"
                  :class="{'is-invalid': player.club === -1}">
                  <option :value="-1">Klub</option>
                  <option
                    v-for="(club, clubIndex) in config.clubs"
                    :value="clubIndex">{{ club }}</option>
                </select>
              </div>
              <div class="col-auto">
                <select v-model="player.sex"
                  style="width: 90px"
                  class="form-control">
                  <option value="male">muž</option>
                  <option value="female">žena</option>
                </select>
              </div>
              <div class="col-auto">
                <input style="width: 90px"
                  min="1900"
                  type="number"
                  class="form-control"
                  v-model="player.yearOfBirth"
                  placeholder="Ročník"
                  :class="{
                    'is-invalid': player.yearOfBirth > (new Date()).getFullYear()
                  }">
              </div>
              <div class="col-auto"
                :title="playerCategories[playerIndex].name">
                <input type="text"
                  style="width: 20px;"
                  tabindex="-1"
                  :value="playerCategories[playerIndex].shortcut"
                  class="form-control-plaintext text-center">
              </div>
              <div class="col-auto form-check text-center pt-2">
                <label class="form-check-label"
                  title="Účastník uhradil startovné">
                  <input type="checkbox"
                    class="form-check-input position-static"
                      v-model="player.feePaid">
                </label>
              </div>
            </div>
            <div :class="{'d-none': playerIndex !== state.activePlayer}">
              <div class="form-check form-check-inline">
                <label class="form-check-label pl-0">
                  Účast hráče v kolech:
                </label>
              </div>
              <div class="form-check form-check-inline"
                :class="{disabled: rounds[roundIndex]}"
                v-for="(round, roundIndex) in config.numberOfRounds">
                <label class="form-check-label">
                  <input type="checkbox"
                    class="form-check-input"
                    :value="roundIndex"
                    v-model="player.rounds"
                    :disabled="rounds[roundIndex]"> {{ round }}.
                </label>
              </div>
            </div>
          </div>
        </form>

        <div class="d-none d-print-block">
          <p class="lead">Listina účastníků, celkem hráčů: {{ players.length }}</p>
          <table class="table table-sm">
            <thead>
              <tr>
                <th>#</th>
                <th>Hráč</th>
                <th>Klub</th>
                <th>Kategorie</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(player, playerIndex) in players">
                <td>{{ playerIndex+1 }}.</td>
                <td>{{ playerNames[playerIndex] }}</td>
                <td>{{ config.clubs[player.club] }}</td>
                <td>{{ playerCategories[playerIndex].name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Matches tab -->
      <div class="tab-pane"
        :class="{
          active: state.activeTab == 'matches',
          show: state.activeTab == 'matches'
        }"
        id="matches">
        <!-- Rounds tabs -->
        <div class="row d-print-none">
          <div class="col">
            <div class="nav nav-pills mb-2">
              <a href="#"
                class="nav-link"
                :class="{active: state.activeRound === -1}"
                v-on:click="state.activeRound = -1">Všechny</a>
              <a v-for="round in config.numberOfRounds"
                class="nav-link"
                :class="{active: state.activeRound === round - 1}"
                :id="`rounds-tab-${round}-tab`"
                data-toggle="pill"
                :href="`#rounds-tab-${round - 1}`"
                v-on:click="state.activeRound = round - 1"
              >{{round}}. kolo</a>
            </div>
          </div>
          <div class="col-auto">
            <button v-on:click="generateRound(state.activeRound)" class="btn btn-success" :disabled="!isTournamentReady || !isRoundReady(state.activeRound) || isRoundGenerated(state.activeRound)">Generovat zápasy</button>
            <button v-on:click="rounds = []" class="btn btn-danger">Reset</button>
          </div>
        </div>

        <!-- Round results -->
        <div class="tab-content" id="rounds-tabContent">
          <p class="d-none d-print-block lead">Zápasy {{ state.activeRound+1 }}. kola</p>

          <p class="alert alert-warning"
            v-if="!isTournamentReady && state.activeRound !== -1">
            Turnaj nelza zahájit, není kompletní nastavení turnaje nebo listina účastníků.
          </p>
          <p class="alert alert-warning"
            v-if="!isRoundReady(state.activeRound) && state.activeRound !== -1">
            Nelze generovat zápasy, není kompletní předchozí kolo.
          </p>
          <div v-for="(round, roundIndex) in rounds"
            class="tab-pane"
            :id="`rounds-tab-${roundIndex}`"
            :class="{
              show: state.activeRound === roundIndex || state.activeRound === -1,
              active: state.activeRound === roundIndex || state.activeRound === -1
            }">
            <p v-if="state.activeRound === -1" class="mb-2"><strong>{{roundIndex + 1}}. kolo</strong></p>
            <div class="d-flex mb-2 d-print-none" v-for="match in round.matches">
              <input type="text" readonly tabindex="-1" class="form-control-plaintext" style="flex: 1"
                :value="playerNames[match.home]">
              <input type="text" readonly tabindex="-1" class="form-control-plaintext text-center" style="width: 30px" value="&times;">
              <input type="text" readonly tabindex="-1" class="form-control-plaintext" style="flex: 1"
                :value="playerNames[match.away]">
              <div class="input-group mr-2" style="width: 150px">
                <input v-model.number="match.home_score" type="number" class="form-control" :class="{'is-invalid': match.home_score === ''}" min="0">
                <span class="input-group-addon">:</span>
                <input v-model.number="match.away_score" type="number" class="form-control" :class="{'is-invalid': match.away_score === ''}" min="0">
              </div>
              <select v-model="match.referee" class="form-control w-25" :class="{'is-invalid': match.referee === -1}">
                <option :value="-1">Rozhodčí</option>
                <option v-for="(player, playerIndex) in playerNames" :value="playerIndex">{{ player }}</option>
              </select>
            </div>
            <div class="d-none d-print-block">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th colspan="3">Soupeři</th>
                    <th class="text-center">Výsledek</th>
                    <th>Rozhodčí</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(match, matchIndex) in round.matches">
                    <td>{{ matchIndex+1 }}.</td>
                    <td>{{ playerNames[match.home] }}</td>
                    <td class="text-center">&times;</td>
                    <td>{{ playerNames[match.away] }}</td>
                    <td class="text-center">:</td>
                    <td class="w-25"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <p v-if="round.bye !== -1">Volné kolo: <strong>{{ playerNames[round.bye] }}</strong></p>
          </div>
        </div>
      </div>

      <!-- Results tab -->
      <div class="tab-pane"
        :class="{
          active: state.activeTab == 'results',
          show: state.activeTab == 'results'
        }"
        id="results">
        <p v-if="roundsComplete.length !== config.numberOfRounds" class="d-none d-print-block lead">Průběžné výsledky, odehráno kol: {{ roundsComplete.length }}/{{ config.numberOfRounds }}</p>
        <p v-if="roundsComplete.length === config.numberOfRounds" class="d-none d-print-block lead">Konečné výsledky turnaje</p>
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th><abbr title="Umístění">#</abbr></th>
              <th>Hráč</th>
              <th>Klub</th>
              <th class="text-center"><abbr title="Kategorie">K</abbr></th>
              <th class="text-center"><abbr title="Počet zápasů">Z</abbr></th>
              <th class="text-center"><abbr title="Výhry">V</abbr></th>
              <th class="text-center"><abbr title="Remízy">R</abbr></th>
              <th class="text-center"><abbr title="Prohry">P</abbr></th>
              <th class="text-center"><abbr title="Body">B</abbr></th>
              <th class="text-center"><abbr title="Body soupeřů">BS</abbr></th>
              <th class="text-center"><abbr title="Body soupeřů soupeřů">BSS</abbr></th>
              <th class="text-center" colspan="3">Skóre</th>
              <th class="text-center"><abbr title="Rozhodčí">R</abbr></th>
              <th v-if="rounds.length > 0" :colspan="config.numberOfRounds" class="text-center">Zápasy {{ rounds.legnth }}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(result, resultIndex) in tournamentResults">
              <td>
                {{ resultIndex + 1 }}.
                <abbr v-if="result.sharedPosition" class="text-muted" title="Výsledková shoda s předchozím hráčem v pořadí">?</abbr>
              </td>
              <td>{{ playerNames[result.playerIndex] }}</td>
              <td><span v-if="players[result.playerIndex].club !== -1">{{ config.clubs[players[result.playerIndex].club] }}</span></td>
              <td class="text-center" :title="playerCategories[result.playerIndex].name">
                <strong v-if="result.categoryWinner">{{ playerCategories[result.playerIndex].shortcut }}</strong>
                <span v-if="!result.categoryWinner">{{ playerCategories[result.playerIndex].shortcut }}</span>
              </td>
              <td class="text-center">{{ result.matches }}</td>
              <td class="text-center">{{ result.wins }}</td>
              <td class="text-center">{{ result.ties }}</td>
              <td class="text-center">{{ result.losses }}</td>
              <td class="text-center"><strong>{{ result.points }}</strong></td>
              <td class="text-center">{{ result.opponentsPoints }}</td>
              <td class="text-center">{{ result.opponentsOpponentsPoints }}</td>
              <td class="text-right">{{ result.goalsFor }}</td>
              <td class="text-center">:</td>
              <td>{{ result.goalsAgainst }}</td>
              <td class="text-center">{{ result.referee }}</td>
              <td v-for="match in result.results">
                <span v-if="typeof(match) == 'undefined'">&mdash;</span>
                <span v-if="typeof(match) == 'object' && match.opponent === -1">volno</span>
                <span v-if="typeof(match) == 'object' && match.opponent !== -1">{{playerPlacementByIndex(match.opponent)}} ({{ match.goalsFor }}:{{ match.goalsAgainst }})</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- About app tab -->
      <div class="tab-pane"
        :class="{
          active: state.activeTab == 'about-app',
          show: state.activeTab == 'about-app'
        }"
        id="about-app">

        <h1>Turnaj ve šprtci</h1>
        <p class="lead">Webová aplikace pro řízení šprtcových turnajů</p>

        <div class="row">
          <div class="col">
            <h2>Vlastnosti</h2>
            <ul>
              <li>funguje i&nbsp;<strong>bez připojení k&nbsp;Internetu</strong> (pokud bylo dříve z&nbsp;Internetu načteno)</li>
              <li>generování vzájemných zápasů bere v&nbsp;potaz průběžné výsledky a&nbsp;volná kola při&nbsp;lichém počtu hráčů</li>
              <li><strong>určení kategorií účastníků</strong>&nbsp;dle jejich pohlaví a&nbsp;data narození (bez vyplnění těchto údajů automaticky kategorie "muži")</li>
              <li><strong>počítání odpískaných zápasů</strong> účastníkem (časem kontrola oproti minimu aktivit)</li>
              <li>export a&nbsp;import stavu turnaje (např. pro&nbsp;přípravu startovací listiny předem a&nbsp;následné řízení turnaje z&nbsp;jiného počítače)</li>
              <li><strong>určení vítězů kategorií</strong> ve&nbsp;výsledkové listině</li>
              <li><strong>konkrétní výsledky zápasů hráče</strong> (včetně skóre)</li>
              <li>možnost zapojit kdykoliv do&nbsp;turnaje nového hráče, nebo ho naopak nechat z&nbsp;turnaje odstoupit</li>
              <li><strong>tiskové formátování listiny</strong> účastníků, zápasů kola a&nbsp;výsledků</li>
            </ul>

            <h2>Výhody oproti programu MacMahon</h2>
            <ul>
              <li>čeština</li>
              <li>není třeba instalace Javy, funguje ve&nbsp;webovém prohlížeči</li>
              <li>funkce pouze pro&nbsp;šprtcové turnaje, žádný balast kolem</li>
              <li>není třeba zadávat magické číslo Kyu 35</li>
              <li>práce s&nbsp;kategoriemi hráče</li>
            </ul>

            <h2>Neplánované funkce</h2>
            <ul>
              <li><strong>zabezpečení aplikace</strong>: žádné nebude, pokud chcete zamezit, aby k aplikaci kdokoliv přišel a něco do ní psal, zamkněte počítač, na kterém běží</li>
            </ul>

            <h2>Autor</h2>
            <p>Vyrobil <strong>Dominik Fiala</strong> (<a href="mailto:domo.fiala@gmail.com">domo.fiala@gmail.com</a>) v&nbsp;roce 2017 a&nbsp;myslel při&nbsp;tom na&nbsp;všechny, kdo kdy&nbsp;pořádali šprtcový turnaj. Psali výsledky na&nbsp;papír, do&nbsp;programu MacMahon, a&nbsp;následně ještě dvakrát do&nbsp;Excelu.</p>
          </div>

          <div class="col">
            <h2>Rozhodující kritéria pořadí účastníků</h2>
            <ol>
              <li>body</li>
              <li>body soupeřů</li>
              <li>body soupeřů soupeřů</li>
              <li>vstřelené branky (max. 5 na&nbsp;zápas)</li>
            </ol>
            <p>Pokud je&nbsp;mezi hráči shoda ve&nbsp;všech výše zmíněných kritériích, jedná se&nbsp;o&nbsp;výsledkovou shodu (ve výsledcích zvýrazněno šedým otazníkem).</p>

            <h2>Algoritmus generování zápasů v&nbsp;kole</h2>
            <ol>
              <li>dá se&nbsp;do&nbsp;hromady seznam hráčů kola</li>
              <li>hromada se&nbsp;náhodně zamíchá</li>
              <li>hromada se&nbsp;seřadí podle rozhodujících kritérií (viz výše)</li>
              <li>v případě lichého počtu hráčů v&nbsp;hromadě se&nbsp;určí volné kolo náhodnému hráči ze&nbsp;spodní poloviny hromady a&nbsp;z&nbsp;hromady se&nbsp;vyjme (pokud už všichni hráči ze&nbsp;spodní poloviny volné kolo měli, vybírá se&nbsp;z&nbsp;celé hromady)</li>
              <li>program vezme prvního hráče v&nbsp;hromadě a&nbsp;hledá&nbsp;mu od&nbsp;vrchu soupeře, se&nbsp;kterým ještě nehrál, následně oba vyjme z&nbsp;hromady</li>
              <li>předchozí krok se&nbsp;opakuje, dokud se&nbsp;nenapárují všichni hráči kola</li>
            </ol>

            <h2>Návrhy pro&nbsp;zlepšení</h2>
            <ul>
              <li>export výsledků turnaje do souboru CSV (možné následně nahrát např. do Excel a archivovat)</li>
              <li><strong>účastníci bez splněných aktivit</strong> zvýraznění ve&nbsp;výsledcích</li>
              <li>vyhnout se&nbsp;vzájemným zápasům hráčů stejného klubu?</li>
              <li>důsledné generování kola (vyzkoušet všechny možné kombinace volného kola, zatím generuje pouze jednou a&nbsp;pokud neposkládá, je&nbsp;potřeba další pokus o&nbsp;generování)</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Reset tournament modal -->
      <div class="modal fade"
        id="resetTournamentModal"
        tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Opravdu resetovat?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Opravdu resetovat turnaj? Odstraní všechny účastníky, zápasy a výsledky.</p>
              <p>Používejte převážně před zahájením nového turnaje.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Zrušit</button>
              <button type="button" class="btn btn-danger" v-on:click="resetTournament">Resetovat turnaj</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Export tournament modal -->
      <div class="modal fade"
        id="exportTournamentModal"
        tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Export turnaje</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Pro přenesení stavu turnaje do jiného počítače si jej uložte do souboru a ten na jiném počítači importujte.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
              <button type="button" class="btn btn-success" v-on:click="saveTournament">Uložit do souboru</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Import tournament modal -->
      <div class="modal fade"
        id="importTournamentModal"
        tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Import turnaje</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p><strong>Upozornění</strong>: Import přepíše současný stav turnaje.</p>
            </div>
            <div class="modal-footer">
              <input type="file" class="d-none" accept="application/json" id="fileChooser" v-on:change="tournamentFileLoaded">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
              <button type="button" class="btn btn-primary" v-on:click="loadTournamentFromFile">Nahrát ze souboru</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Clubs datalist -->
      <datalist id="clubs">
        <option v-for="club in config.clubs">{{ club }}</option>
      </datalist>
    </div>
  </div>

  <!-- build:js -->
  <script src="../node_modules/jquery/dist/jquery.slim.js"></script>
  <script src="../node_modules/popper.js/dist/umd/popper.js"></script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="../node_modules/vue/dist/vue.js"></script>
  <script src="../node_modules/file-saver/FileSaver.js"></script>
  <script src="./app.js"></script>
  <!-- endbuild -->
</body>

</html>
